.user-container {
  display: flex;
  padding: 20px;
  margin: 20px;
  border-radius: 14px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .avatar{
    width: 15%;
    height: 250px;
  }
  
  .user-about-info{
    width: 75%;
  }
  .user-container p {
    text-align: justify;
  }
  
  .Day.user-about-info, .Day.user-count-info, .Day.user-container{
    background-color: rgb(255, 255, 227);
    color: #111111;
    box-shadow: 0 0 15px rgb(238, 155, 31);
  }
  
  .Night.user-about-info, .Night.user-count-info, .Night.user-container {
    background-color: #051524;
    color: snow;
    box-shadow: 0 0 15px rgb(31, 172, 238);
  }
  
  .user-count-info {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  
 .button-delete:hover {
    box-shadow: 0 0 15px rgb(20, 235, 235);
    background-color: rgb(27, 6, 85); ;
    color: #fff;
  }

  .button-delete{
    background-color: rgb(33, 192, 197);
    margin-bottom: 10px;
    width: 90px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    border: solid 2px blue;
    cursor: pointer;
  }

  .button-delete{
    margin-top: 10px;
  }

  .buttons{
    font-size: 16px;
    display: flex;
    width: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }