.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.header-title{
    margin-left: 5%;
}

.Day.header{
    background-color: rgb(231, 173, 106);
    width: 100%;
}

.Night.header{
    background-color: rgb(26, 26, 41);
    width: 100%;
    color: #fff;
}